<script lang="ts" setup>
import { ref } from "vue";
let emoji = ref("SMILE");
let src = ref(emoji.value + ".png");

function update(value: string, id: string): void {
  emoji.value = value;
  src.value = emoji.value + ".png";
  document.getElementById("1")!.style.background = "white";
  document.getElementById("2")!.style.background = "white";
  document.getElementById("3")!.style.background = "white";
  document.getElementById("4")!.style.background = "white";
  document.getElementById("5")!.style.background = "white";
  document.getElementById("6")!.style.background = "white";
  document.getElementById(id)!.style.background = "yellow";
}
</script>
<template>
  <v-container>
    <v-table>
      <tbody>
        <tr style="height: 50px">
          <td style="text-align: center">
            <v-card flat>
              <div class="ma-16 text-body"></div>
              <v-img :src="src" width="200"></v-img>
            </v-card>
          </td>
          <th class="font-weight-bold text-h6" style="text-align: center">
            <v-table>
              <tr style="text-align: center">
                <td>
                  <v-table>
                    <tr style="text-align: center">
                      {{
                        emoji
                      }}
                    </tr>
                    <tr>
                      <v-btn
                        variant="outlined"
                        style="width: 90%"
                        @click="update('ANGRY', '1')"
                        id="1"
                        class="ma-1"
                      >
                        ANGRY
                      </v-btn>
                    </tr>
                    <tr>
                      <v-btn
                        variant="outlined"
                        style="width: 90%"
                        @click="update('CUTE', '2')"
                        id="2"
                        class="ma-1"
                      >
                        CUTE
                      </v-btn>
                    </tr>
                    <tr>
                      <v-btn
                        variant="outlined"
                        style="width: 90%"
                        @click="update('EXCITED', '3')"
                        id="3"
                        class="ma-1"
                      >
                        EXCITED
                      </v-btn>
                    </tr>
                    <tr>
                      <v-btn
                        variant="outlined"
                        style="width: 90%"
                        @click="update('PAIN', '4')"
                        id="4"
                        class="ma-1"
                      >
                        PAIN
                      </v-btn>
                    </tr>
                    <tr>
                      <v-btn
                        variant="outlined"
                        style="width: 90%"
                        @click="update('SHOCKED', '5')"
                        id="5"
                        class="ma-1"
                      >
                        SHOCKED
                      </v-btn>
                    </tr>
                    <tr>
                      <v-btn
                        variant="outlined"
                        style="width: 90%"
                        @click="update('SMILE', '6')"
                        id="6"
                        class="ma-1"
                      >
                        SMILE
                      </v-btn>
                    </tr>
                  </v-table>
                </td>
              </tr>
            </v-table>
          </th>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>

<style scoped></style>
