<script lang="ts" setup>
import { ref, watch } from "vue";
let input = ref("0");
let row = ref(0);
let col = ref(0);

watch(input, (newInput) => {
  if (parseInt(newInput) > 0) {
    if (parseInt(newInput) <= 12) {
      col.value = parseInt(newInput);
    } else {
      col.value = 12;
    }
    row.value = Math.ceil(parseInt(newInput) / 12);
  } else {
    col.value = 0;
    row.value = 0;
  }
  console.log(`col is ${col.value}`);
  console.log(`row is ${row.value}`);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          v-model="input"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          clearable
          label="Please input Number"
        ></v-text-field
      ></v-col>
    </v-row>
    <v-row class="justify-center">
      <v-table>
        <tbody>
          <tr v-for="(r, k) in row" v-bind:key="k">
            <td
              v-for="(c, k) in col"
              v-bind:key="k"
              v-show="12 * (r - 1) + c <= parseInt(input)"
              style="text-align: center"
            >
              {{ 12 * (r - 1) + c }}
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-row>
  </v-container>
</template>
